<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-striped  tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="居民活动室" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/hall">
    <ion-nav-view name="tab-hall" animation="slide-left-right"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="退出" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
